<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting Name="DuzeySearchSettings.Enable">
    <Value>true</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.SearchOption">
    <Value>0</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.NumberOfProducts">
    <Value>5</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.NumberOfVisibleProducts">
    <Value>5</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.DefaultProductSortOption">
    <Value>0</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.PictureSize">
    <Value>60</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.ShowSku">
    <Value>false</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.HighlightFirstFoundElementToBeSelected">
    <Value>true</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.SearchDescriptions">
    <Value>true</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.SearchProductTags">
    <Value>false</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.VisibleIndividuallyOnly">
    <Value>true</Value>
  </Setting>
  <Setting Name="DuzeySearchSettings.PrepareSpecificationAttributes">
    <Value>true</Value>
  </Setting>
</Settings>
