/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.search-box form {
  position: relative;
  display: flex;
}

span.search-box-text {
  float: left;
  width: calc(100% - 47px);
}

input.search-box-text {
  width: 100%;
  float: right;
}

  input.search-box-text.narrow {
    width: 100%;
  }

    input.search-box-text.narrow:focus {
      border-color: #ddd; /*prevent different colors*/
    }

  input.search-box-text.instant-search-busy {
    background: #fff url('../../../images/ajax-loader-small.gif') no-repeat right;
  }

  input.search-box-text.narrow.instant-search-busy {
    background-position: right;
    float: right;
  }

  input.search-box-text:focus {
    outline: -webkit-focus-ring-color auto 0;
  }

.search-box input.search-box-text {
  width: 100%;
}

.search-box-select {
  float: left;
  width: 80px;
  height: 36px;
  border: 1px solid #ddd;
  margin: 0 -1px;
}

/* AUTOCOMPLETE */

.instantSearch {
  width: calc(100% - 47px);
  height: auto !important;
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
}

  .instantSearch.resize {
    width: 100%;
  }

  .instantSearch .k-list-container {
    width: 100%;
    position: static !important;
  }

  .instantSearch .k-list-scroller {
    height: 100% !important;
    overflow-y: auto;
  }

  .instantSearch .k-item {
    border-top: 1px solid #ddd;
    cursor: pointer;
  }

    .instantSearch .k-item:first-child {
      border: 0;
    }

.instant-search-item {
  overflow: hidden;
  padding: 10px;
}

.instantSearch .k-item.k-state-hover .instant-search-item,
.instantSearch .k-item.k-state-focused .instant-search-item {
  background: #f3f3f3;
}

.instant-search-item .img-block {
  float: left;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

  .instant-search-item .img-block img {
    max-width: 100%;
  }

.instant-search-item .detail {
  margin-left: 70px;
  text-align: left;
}

  .instant-search-item .detail .title {
    margin: 0 0 7px;
    font-size: 15px;
    color: #444;
  }

  .instant-search-item .detail .price {
    color: #97c300;
    font-size: 16px;
    font-weight: 700;
  }

  .instant-search-item .detail .sku {
    margin: 0 0 10px;
    font-size: 14px;
    color: #8c8c8c;
  }

@media all and (min-width: 481px) {

  input.search-box-text {
    width: 100%;
  }

    input.search-box-text.narrow {
      width: 100%;
    }

    input.search-box-text.instant-search-busy {
      background-position: calc(100% - 20px);
    }

    input.search-box-text.narrow.instant-search-busy {
      background-position: calc(100% - 20px);
    }

  .search-box-select {
    width: 120px;
  }

  /* AUTOCOMPLETE */

  .instantSearch {
    width: 100%;
  }

    .instantSearch.resize {
      width: 100%;
    }
}

@media all and (min-width: 1001px) {

  .search-box-select {
    height: 47px;
  }
}
